body {
  background-color: rgb(15, 15, 51);
}
#display h1 {
  text-align: center;
  color: rgb(239, 239, 239);
}
#display div {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: black;
  color: aliceblue;
  border: solid rgb(220, 220, 220) 2px;
  cursor: pointer;
  font-size: 3ch;
  padding: 2vw;
}